*{
    margin: 0;
    padding: 0;
}

body{
    /* background-color: black;
    color: white; */
   
}

.left{
    width: 25vw;
    padding: 34px;
}
.right{
   width: 75vw; 
}
.border{
   border: 2px solid red ;
   margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{

justify-content: center;
}
.iteam-centre{

    align-items: center;
}

/* home  image section  */

.home ul li{
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
}

.bg-black{
    color: white;
    background-color: black;
}